- provide :page_title, "Question #{@question.id}"

.col-md-12.col-sm-12.col-xs-12
  .x_panel
    .x_content
      %h2= @question.text
      %br/
      - @question.answers.each do |answer|
        %p{style:"color:#{answer.right ? 'green' : 'red'};"}= answer.text
