- provide :page_title, 'Home'
.row
  .col-md-12
    .x_panel
      .x_title
        %h2 Test Title
        .clearfix
      .x_content
        %br/
        %p Sir Bis is up and running in #{Rails.env} mode